@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore);

body{
    background:radial-gradient(deepskyblue, blue);

    padding-left: 20%;
    padding-right: 20%;
    border-left: solid;
    border-right: solid;
    border:ThreeDShadow;
    border-color: #669900;

    transition:transform 5s ease;
}

/*body:hover {*/
    /*transform:skew(30deg);*/
/*}*/

svg{
    transition:transform 5s ease;
}

svg:hover{
    /*transform:rotateX(45deg) rotateY(-45deg) rotateZ(45deg);*/
    /*-webkit-transform:rotateX(45deg) rotateY(-45deg) rotateZ(45deg);*/
    transform:scale3D(2,3,4);
}

h1{
    color:darkred;
    /*background:yellowgreen;*/
    /*background-color: hsla(45, 100%, 50%, 0.5);*/
    background:linear-gradient(hsla(45, 100%, 50%, 0.8),hsla(90, 100%, 50%, 0.8));
    font-family: 'La Belle Aurore';
    border: dashed;
    box-shadow: 10px 10px 20px 20px aliceblue;
    }
h3{
    font-size:2em;
    text-shadow:3px 3px 5px white;
}

p::first-letter {
    font-style:oblique;
    font-size:4em;
    color:black;
}

p{
    color:cyan;
    text-align:center;
    border:double;
}



address{color:#669900;}

a:hover{color:red;}
ul{color:#F3C405;}

tr:nth-child(even) {background: red;}
tr:nth-child(uneven) {background: greenyellow;}

tr:nth-child(3) td:nth-child(1) {color:goldenrod}

th {color:cadetblue}

th:nth-child(1) {background:white;}
th:nth-child(2) {background:orange;}

table{
    border:groove;
    border-color:cyan;
    background-image:url("bg.jpg");
    background-size:100% 100%;
}
td{border: inset;}
th{border: outset;}

.test:hover {
    color:red;
    padding-right: 1em;
    background-image: url(bg.jpg);
    background-position: right;
    background-size:  15px 15px;
    background-repeat: no-repeat;
}


